# THIS IS A CONTENT BASED MOVIE RECOMMENDER SYSTEM

In [2]:
# from google.colab import drive
# drive.mount('/content/drive')

In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
mov=pd.read_csv('tmdb_5000_movies.csv')
cred=pd.read_csv('tmdb_5000_credits.csv')

In [5]:
mov.head(5)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",2015-10-26,880674609,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466
3,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",http://www.thedarkknightrises.com/,49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-07-16,1084939099,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106
4,260000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://movies.disney.com/john-carter,49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-03-07,284139100,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124

In [6]:
cred.head(5)

,movie_id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [7]:
mov.shape

(4803, 20)

In [8]:
cred.shape

(4803, 4)

### MERGING BOTH THE DATAFRAMES INTO ONE DATAFRAME

In [10]:
all_df=mov.merge(cred,on='title')

In [11]:
all_df.shape

(4809, 23)

In [12]:
all_df.head(5)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,...,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,movie_id,cast,crew
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...",...,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800,19995,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...",...,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500,285,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...",...,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466,206647,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",http://www.thedarkknightrises.com/,49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...",...,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106,49026,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,260000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://movies.disney.com/john-carter,49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]",...,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124,49529,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [13]:
all_df.isnull().sum()

budget                     0
genres                     0
homepage                3096
id                         0
keywords                   0
original_language          0
original_title             0
overview                   3
popularity                 0
production_companies       0
production_countries       0
release_date               1
revenue                    0
runtime                    2
spoken_languages           0
status                     0
tagline                  844
title                      0
vote_average               0
vote_count                 0
movie_id                   0
cast                       0
crew                       0
dtype: int64

## As I'm building a Content-based Movie Recommender System, I am including only columns or variables, which have categorical data.

In [15]:
all_df=all_df[['id','title','genres','overview','keywords','cast','crew']]
all_df.head(3)

,id,title,genres,overview,keywords,cast,crew
0,19995,Avatar,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","In the 22nd century, a paraplegic Marine is di...","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...","Captain Barbossa, long believed to be dead, ha...","[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",A cryptic message from Bond’s past sends him o...,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...","[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."

In [16]:
all_df.shape

(4809, 7)

In [17]:
all_df.isnull().sum()

id          0
title       0
genres      0
overview    3
keywords    0
cast        0
crew        0
dtype: int64

In [18]:
np.round(all_df.isnull().mean()*100,2) # it gives the percentage of null values

id          0.00
title       0.00
genres      0.00
overview    0.06
keywords    0.00
cast        0.00
crew        0.00
dtype: float64

In [19]:
all_df.dropna(inplace=True)

In [20]:
np.round(all_df.isnull().mean()*100,2)

id          0.0
title       0.0
genres      0.0
overview    0.0
keywords    0.0
cast        0.0
crew        0.0
dtype: float64

In [21]:
all_df.duplicated().sum() # This implies there are no duplicated records or rows.

0

In [22]:
all_df['genres'][0]

'[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]'

### AS all_df['genres'] is a STRING in which there is a LIST OF DICTIONARIES WHICH CONTAINS GENRES, WE NEED TO CONVERT IT INTO A LIST FIRST

In [24]:
import ast

### Using "ast" MODULE FOR COVERTING STRING (in which it contains lists) TO LISTS, BY REMOVING THE STRING

In [26]:
ast.literal_eval(all_df['genres'][0]) # IT WORKS LIKE THIS

[{'id': 28, 'name': 'Action'},
 {'id': 12, 'name': 'Adventure'},
 {'id': 14, 'name': 'Fantasy'},
 {'id': 878, 'name': 'Science Fiction'}]

In [27]:
# Function for converting strings (in which it contains lists) into lists
def release(obj):
    l=[]
    for i in ast.literal_eval(obj):
       l.append(i['name'])
    return l

In [28]:
all_df['genres']=all_df['genres'].apply(release) # applting function to all_df['genres']

In [29]:
all_df.sample(3)

,id,title,genres,overview,keywords,cast,crew
2959,1590,Copying Beethoven,[Drama],A fictionalised exploration of Beethoven's lif...,"[{""id"": 766, ""name"": ""beethoven""}, {""id"": 1870...","[{""cast_id"": 4, ""character"": ""Ludwig van Beeth...","[{""credit_id"": ""52fe4302c3a36847f80337af"", ""de..."
1084,9381,Babylon A.D.,"[Action, Adventure, Science Fiction, Thriller]",In Babylon A.D Vin Diesel stars as a veteran-t...,"[{""id"": 339, ""name"": ""submarine""}, {""id"": 1009...","[{""cast_id"": 14, ""character"": ""Toorop"", ""credi...","[{""credit_id"": ""52fe44f0c3a36847f80b2e2f"", ""de..."
4373,22597,The Broken Hearts Club: A Romantic Comedy,"[Comedy, Drama, Romance]","A group of friends search for fun, love and ul...","[{""id"": 237, ""name"": ""gay""}, {""id"": 1253, ""nam...","[{""cast_id"": 1, ""character"": ""Patrick"", ""credi...","[{""credit_id"": ""53dd58e9c3a3686c5a00021d"", ""de..."

In [30]:
all_df['keywords'][0] # it is in same format as in "genres" variable

'[{"id": 1463, "name": "culture clash"}, {"id": 2964, "name": "future"}, {"id": 3386, "name": "space war"}, {"id": 3388, "name": "space colony"}, {"id": 3679, "name": "society"}, {"id": 3801, "name": "space travel"}, {"id": 9685, "name": "futuristic"}, {"id": 9840, "name": "romance"}, {"id": 9882, "name": "space"}, {"id": 9951, "name": "alien"}, {"id": 10148, "name": "tribe"}, {"id": 10158, "name": "alien planet"}, {"id": 10987, "name": "cgi"}, {"id": 11399, "name": "marine"}, {"id": 13065, "name": "soldier"}, {"id": 14643, "name": "battle"}, {"id": 14720, "name": "love affair"}, {"id": 165431, "name": "anti war"}, {"id": 193554, "name": "power relations"}, {"id": 206690, "name": "mind and soul"}, {"id": 209714, "name": "3d"}]'

In [31]:
all_df['keywords']=all_df['keywords'].apply(release) # So, Applying "release" function to all_df['keywords']
all_df.sample(3)

,id,title,genres,overview,keywords,cast,crew
734,10199,The Tale of Despereaux,"[Adventure, Animation, Family]",Once upon a time... in the far away kingdom of...,"[loyalty, totalitarian regime, mouse, forgiven...","[{""cast_id"": 5, ""character"": ""Despereaux (voic...","[{""credit_id"": ""58bad317c3a368664d023ea1"", ""de..."
1078,9486,Johnny English,"[Adventure, Action, Comedy]",Rowan plays the eponymous lead character in a ...,"[spy, hero, queen, intelligence, coronation, f...","[{""cast_id"": 1, ""character"": ""Johnny English"",...","[{""credit_id"": ""52fe44fdc3a36847f80b6459"", ""de..."
3994,21461,Lage Raho Munna Bhai,"[Comedy, Drama, Romance]",A hilarious underworld gangster known as Munna...,"[historical figure, comedy, bollywood, india]","[{""cast_id"": 9, ""character"": ""Murli Prasad Sha...","[{""credit_id"": ""52fe441ac3a368484e00f9c3"", ""de..."

In [32]:
all_df['cast'][0]

'[{"cast_id": 242, "character": "Jake Sully", "credit_id": "5602a8a7c3a3685532001c9a", "gender": 2, "id": 65731, "name": "Sam Worthington", "order": 0}, {"cast_id": 3, "character": "Neytiri", "credit_id": "52fe48009251416c750ac9cb", "gender": 1, "id": 8691, "name": "Zoe Saldana", "order": 1}, {"cast_id": 25, "character": "Dr. Grace Augustine", "credit_id": "52fe48009251416c750aca39", "gender": 1, "id": 10205, "name": "Sigourney Weaver", "order": 2}, {"cast_id": 4, "character": "Col. Quaritch", "credit_id": "52fe48009251416c750ac9cf", "gender": 2, "id": 32747, "name": "Stephen Lang", "order": 3}, {"cast_id": 5, "character": "Trudy Chacon", "credit_id": "52fe48009251416c750ac9d3", "gender": 1, "id": 17647, "name": "Michelle Rodriguez", "order": 4}, {"cast_id": 8, "character": "Selfridge", "credit_id": "52fe48009251416c750ac9e1", "gender": 2, "id": 1771, "name": "Giovanni Ribisi", "order": 5}, {"cast_id": 7, "character": "Norm Spellman", "credit_id": "52fe48009251416c750ac9dd", "gender": 2, "id": 59231, "name": "Joel David Moore", "order": 6}, {"cast_id": 9, "character": "Moat", "credit_id": "52fe48009251416c750ac9e5", "gender": 1, "id": 30485, "name": "CCH Pounder", "order": 7}, {"cast_id": 11, "character": "Eytukan", "credit_id": "52fe48009251416c750ac9ed", "gender": 2, "id": 15853, "name": "Wes Studi", "order": 8}, {"cast_id": 10, "character": "Tsu\'Tey", "credit_id": "52fe48009251416c750ac9e9", "gender": 2, "id": 10964, "name": "Laz Alonso", "order": 9}, {"cast_id": 12, "character": "Dr. Max Patel", "credit_id": "52fe48009251416c750ac9f1", "gender": 2, "id": 95697, "name": "Dileep Rao", "order": 10}, {"cast_id": 13, "character": "Lyle Wainfleet", "credit_id": "52fe48009251416c750ac9f5", "gender": 2, "id": 98215, "name": "Matt Gerald", "order": 11}, {"cast_id": 32, "character": "Private Fike", "credit_id": "52fe48009251416c750aca5b", "gender": 2, "id": 154153, "name": "Sean Anthony Moran", "order": 12}, {"cast_id": 33, "character": "Cryo Vault Med Tech", "credit_id": "52fe48009251416c750aca5f", "gender": 2, "id": 397312, "name": "Jason Whyte", "order": 13}, {"cast_id": 34, "character": "Venture Star Crew Chief", "credit_id": "52fe48009251416c750aca63", "gender": 2, "id": 42317, "name": "Scott Lawrence", "order": 14}, {"cast_id": 35, "character": "Lock Up Trooper", "credit_id": "52fe48009251416c750aca67", "gender": 2, "id": 986734, "name": "Kelly Kilgour", "order": 15}, {"cast_id": 36, "character": "Shuttle Pilot", "credit_id": "52fe48009251416c750aca6b", "gender": 0, "id": 1207227, "name": "James Patrick Pitt", "order": 16}, {"cast_id": 37, "character": "Shuttle Co-Pilot", "credit_id": "52fe48009251416c750aca6f", "gender": 0, "id": 1180936, "name": "Sean Patrick Murphy", "order": 17}, {"cast_id": 38, "character": "Shuttle Crew Chief", "credit_id": "52fe48009251416c750aca73", "gender": 2, "id": 1019578, "name": "Peter Dillon", "order": 18}, {"cast_id": 39, "character": "Tractor Operator / Troupe", "credit_id": "52fe48009251416c750aca77", "gender": 0, "id": 91443, "name": "Kevin Dorman", "order": 19}, {"cast_id": 40, "character": "Dragon Gunship Pilot", "credit_id": "52fe48009251416c750aca7b", "gender": 2, "id": 173391, "name": "Kelson Henderson", "order": 20}, {"cast_id": 41, "character": "Dragon Gunship Gunner", "credit_id": "52fe48009251416c750aca7f", "gender": 0, "id": 1207236, "name": "David Van Horn", "order": 21}, {"cast_id": 42, "character": "Dragon Gunship Navigator", "credit_id": "52fe48009251416c750aca83", "gender": 0, "id": 215913, "name": "Jacob Tomuri", "order": 22}, {"cast_id": 43, "character": "Suit #1", "credit_id": "52fe48009251416c750aca87", "gender": 0, "id": 143206, "name": "Michael Blain-Rozgay", "order": 23}, {"cast_id": 44, "character": "Suit #2", "credit_id": "52fe48009251416c750aca8b", "gender": 2, "id": 169676, "name": "Jon Curry", "order": 24}, {"cast_id": 46, "character": "Ambient Room Tech", "credit_id": "52fe48009251416c750aca8f", "gender": 0, "id": 1048610, "name": "Luke Hawker", "order": 25}, {"cast_id": 47, "character": "Ambient Room Tech / Troupe", "credit_id": "52fe48009251416c750aca93", "gender": 0, "id": 42288, "name": "Woody Schultz", "order": 26}, {"cast_id": 48, "character": "Horse Clan Leader", "credit_id": "52fe48009251416c750aca97", "gender": 2, "id": 68278, "name": "Peter Mensah", "order": 27}, {"cast_id": 49, "character": "Link Room Tech", "credit_id": "52fe48009251416c750aca9b", "gender": 0, "id": 1207247, "name": "Sonia Yee", "order": 28}, {"cast_id": 50, "character": "Basketball Avatar / Troupe", "credit_id": "52fe48009251416c750aca9f", "gender": 1, "id": 1207248, "name": "Jahnel Curfman", "order": 29}, {"cast_id": 51, "character": "Basketball Avatar", "credit_id": "52fe48009251416c750acaa3", "gender": 0, "id": 89714, "name": "Ilram Choi", "order": 30}, {"cast_id": 52, "character": "Na\'vi Child", "credit_id": "52fe48009251416c750acaa7", "gender": 0, "id": 1207249, "name": "Kyla Warren", "order": 31}, {"cast_id": 53, "character": "Troupe", "credit_id": "52fe48009251416c750acaab", "gender": 0, "id": 1207250, "name": "Lisa Roumain", "order": 32}, {"cast_id": 54, "character": "Troupe", "credit_id": "52fe48009251416c750acaaf", "gender": 1, "id": 83105, "name": "Debra Wilson", "order": 33}, {"cast_id": 57, "character": "Troupe", "credit_id": "52fe48009251416c750acabb", "gender": 0, "id": 1207253, "name": "Chris Mala", "order": 34}, {"cast_id": 55, "character": "Troupe", "credit_id": "52fe48009251416c750acab3", "gender": 0, "id": 1207251, "name": "Taylor Kibby", "order": 35}, {"cast_id": 56, "character": "Troupe", "credit_id": "52fe48009251416c750acab7", "gender": 0, "id": 1207252, "name": "Jodie Landau", "order": 36}, {"cast_id": 58, "character": "Troupe", "credit_id": "52fe48009251416c750acabf", "gender": 0, "id": 1207254, "name": "Julie Lamm", "order": 37}, {"cast_id": 59, "character": "Troupe", "credit_id": "52fe48009251416c750acac3", "gender": 0, "id": 1207257, "name": "Cullen B. Madden", "order": 38}, {"cast_id": 60, "character": "Troupe", "credit_id": "52fe48009251416c750acac7", "gender": 0, "id": 1207259, "name": "Joseph Brady Madden", "order": 39}, {"cast_id": 61, "character": "Troupe", "credit_id": "52fe48009251416c750acacb", "gender": 0, "id": 1207262, "name": "Frankie Torres", "order": 40}, {"cast_id": 62, "character": "Troupe", "credit_id": "52fe48009251416c750acacf", "gender": 1, "id": 1158600, "name": "Austin Wilson", "order": 41}, {"cast_id": 63, "character": "Troupe", "credit_id": "52fe48019251416c750acad3", "gender": 1, "id": 983705, "name": "Sara Wilson", "order": 42}, {"cast_id": 64, "character": "Troupe", "credit_id": "52fe48019251416c750acad7", "gender": 0, "id": 1207263, "name": "Tamica Washington-Miller", "order": 43}, {"cast_id": 65, "character": "Op Center Staff", "credit_id": "52fe48019251416c750acadb", "gender": 1, "id": 1145098, "name": "Lucy Briant", "order": 44}, {"cast_id": 66, "character": "Op Center Staff", "credit_id": "52fe48019251416c750acadf", "gender": 2, "id": 33305, "name": "Nathan Meister", "order": 45}, {"cast_id": 67, "character": "Op Center Staff", "credit_id": "52fe48019251416c750acae3", "gender": 0, "id": 1207264, "name": "Gerry Blair", "order": 46}, {"cast_id": 68, "character": "Op Center Staff", "credit_id": "52fe48019251416c750acae7", "gender": 2, "id": 33311, "name": "Matthew Chamberlain", "order": 47}, {"cast_id": 69, "character": "Op Center Staff", "credit_id": "52fe48019251416c750acaeb", "gender": 0, "id": 1207265, "name": "Paul Yates", "order": 48}, {"cast_id": 70, "character": "Op Center Duty Officer", "credit_id": "52fe48019251416c750acaef", "gender": 0, "id": 1207266, "name": "Wray Wilson", "order": 49}, {"cast_id": 71, "character": "Op Center Staff", "credit_id": "52fe48019251416c750acaf3", "gender": 2, "id": 54492, "name": "James Gaylyn", "order": 50}, {"cast_id": 72, "character": "Dancer", "credit_id": "52fe48019251416c750acaf7", "gender": 0, "id": 1207267, "name": "Melvin Leno Clark III", "order": 51}, {"cast_id": 73, "character": "Dancer", "credit_id": "52fe48019251416c750acafb", "gender": 0, "id": 1207268, "name": "Carvon Futrell", "order": 52}, {"cast_id": 74, "character": "Dancer", "credit_id": "52fe48019251416c750acaff", "gender": 0, "id": 1207269, "name": "Brandon Jelkes", "order": 53}, {"cast_id": 75, "character": "Dancer", "credit_id": "52fe48019251416c750acb03", "gender": 0, "id": 1207270, "name": "Micah Moch", "order": 54}, {"cast_id": 76, "character": "Dancer", "credit_id": "52fe48019251416c750acb07", "gender": 0, "id": 1207271, "name": "Hanniyah Muhammad", "order": 55}, {"cast_id": 77, "character": "Dancer", "credit_id": "52fe48019251416c750acb0b", "gender": 0, "id": 1207272, "name": "Christopher Nolen", "order": 56}, {"cast_id": 78, "character": "Dancer", "credit_id": "52fe48019251416c750acb0f", "gender": 0, "id": 1207273, "name": "Christa Oliver", "order": 57}, {"cast_id": 79, "character": "Dancer", "credit_id": "52fe48019251416c750acb13", "gender": 0, "id": 1207274, "name": "April Marie Thomas", "order": 58}, {"cast_id": 80, "character": "Dancer", "credit_id": "52fe48019251416c750acb17", "gender": 0, "id": 1207275, "name": "Bravita A. Threatt", "order": 59}, {"cast_id": 81, "character": "Mining Chief (uncredited)", "credit_id": "52fe48019251416c750acb1b", "gender": 0, "id": 1207276, "name": "Colin Bleasdale", "order": 60}, {"cast_id": 82, "character": "Veteran Miner (uncredited)", "credit_id": "52fe48019251416c750acb1f", "gender": 0, "id": 107969, "name": "Mike Bodnar", "order": 61}, {"cast_id": 83, "character": "Richard (uncredited)", "credit_id": "52fe48019251416c750acb23", "gender": 0, "id": 1207278, "name": "Matt Clayton", "order": 62}, {"cast_id": 84, "character": "Nav\'i (uncredited)", "credit_id": "52fe48019251416c750acb27", "gender": 1, "id": 147898, "name": "Nicole Dionne", "order": 63}, {"cast_id": 85, "character": "Trooper (uncredited)", "credit_id": "52fe48019251416c750acb2b", "gender": 0, "id": 1207280, "name": "Jamie Harrison", "order": 64}, {"cast_id": 86, "character": "Trooper (uncredited)", "credit_id": "52fe48019251416c750acb2f", "gender": 0, "id": 1207281, "name": "Allan Henry", "order": 65}, {"cast_id": 87, "character": "Ground Technician (uncredited)", "credit_id": "52fe48019251416c750acb33", "gender": 2, "id": 1207282, "name": "Anthony Ingruber", "order": 66}, {"cast_id": 88, "character": "Flight Crew Mechanic (uncredited)", "credit_id": "52fe48019251416c750acb37", "gender": 0, "id": 1207283, "name": "Ashley Jeffery", "order": 67}, {"cast_id": 14, "character": "Samson Pilot", "credit_id": "52fe48009251416c750ac9f9", "gender": 0, "id": 98216, "name": "Dean Knowsley", "order": 68}, {"cast_id": 89, "character": "Trooper (uncredited)", "credit_id": "52fe48019251416c750acb3b", "gender": 0, "id": 1201399, "name": "Joseph Mika-Hunt", "order": 69}, {"cast_id": 90, "character": "Banshee (uncredited)", "credit_id": "52fe48019251416c750acb3f", "gender": 0, "id": 236696, "name": "Terry Notary", "order": 70}, {"cast_id": 91, "character": "Soldier (uncredited)", "credit_id": "52fe48019251416c750acb43", "gender": 0, "id": 1207287, "name": "Kai Pantano", "order": 71}, {"cast_id": 92, "character": "Blast Technician (uncredited)", "credit_id": "52fe48019251416c750acb47", "gender": 0, "id": 1207288, "name": "Logan Pithyou", "order": 72}, {"cast_id": 93, "character": "Vindum Raah (uncredited)", "credit_id": "52fe48019251416c750acb4b", "gender": 0, "id": 1207289, "name": "Stuart Pollock", "order": 73}, {"cast_id": 94, "character": "Hero (uncredited)", "credit_id": "52fe48019251416c750acb4f", "gender": 0, "id": 584868, "name": "Raja", "order": 74}, {"cast_id": 95, "character": "Ops Centreworker (uncredited)", "credit_id": "52fe48019251416c750acb53", "gender": 0, "id": 1207290, "name": "Gareth Ruck", "order": 75}, {"cast_id": 96, "character": "Engineer (uncredited)", "credit_id": "52fe48019251416c750acb57", "gender": 0, "id": 1062463, "name": "Rhian Sheehan", "order": 76}, {"cast_id": 97, "character": "Col. Quaritch\'s Mech Suit (uncredited)", "credit_id": "52fe48019251416c750acb5b", "gender": 0, "id": 60656, "name": "T. J. Storm", "order": 77}, {"cast_id": 98, "character": "Female Marine (uncredited)", "credit_id": "52fe48019251416c750acb5f", "gender": 0, "id": 1207291, "name": "Jodie Taylor", "order": 78}, {"cast_id": 99, "character": "Ikran Clan Leader (uncredited)", "credit_id": "52fe48019251416c750acb63", "gender": 1, "id": 1186027, "name": "Alicia Vela-Bailey", "order": 79}, {"cast_id": 100, "character": "Geologist (uncredited)", "credit_id": "52fe48019251416c750acb67", "gender": 0, "id": 1207292, "name": "Richard Whiteside", "order": 80}, {"cast_id": 101, "character": "Na\'vi (uncredited)", "credit_id": "52fe48019251416c750acb6b", "gender": 0, "id": 103259, "name": "Nikie Zambo", "order": 81}, {"cast_id": 102, "character": "Ambient Room Tech / Troupe", "credit_id": "52fe48019251416c750acb6f", "gender": 1, "id": 42286, "name": "Julene Renee", "order": 82}]'

<h3>As we have enormous number of cast members in every record, I am just going with top three(3) casts i.e.</h3>
<p>-> {"cast_id": 242, "character": "Jake Sully", "credit_id": "5602a8a7c3a3685532001c9a", "gender": 2, "id": 65731, "name": "Sam Worthington", "order": 0}</p>
<p>-> {"cast_id": 3, "character": "Neytiri", "credit_id": "52fe48009251416c750ac9cb", "gender": 1, "id": 8691, "name": "Zoe Saldana", "order": 1}</p>
<p>-> {"cast_id": 25, "character": "Dr. Grace Augustine", "credit_id": "52fe48009251416c750aca39", "gender": 1, "id": 10205, "name": "Sigourney Weaver", "order": 2}</p>

In [34]:
# Function for converting strings(in which it contains lists) into lists
# (This function also selects top 3[three] cast names in the movie.)
def releaseTop3(obj):
    l=[]
    c=0
    for i in ast.literal_eval(obj):
        if c<=2:
            l.append(i['name'])
            c+=1
        else:
            break
    return l

In [35]:
all_df['cast']=all_df['cast'].apply(releaseTop3)

In [36]:
all_df.sample(3)

,id,title,genres,overview,keywords,cast,crew
3871,598,City of God,"[Drama, Crime]",Cidade de Deus is a shantytown that started du...,"[male nudity, street gang, brazilian, photogra...","[Alexandre Rodrigues, Leandro Firmino, Phellip...","[{""credit_id"": ""52fe425ac3a36847f8017a9f"", ""de..."
1839,2085,Romeo Must Die,"[Action, Crime, Thriller]",Two warring gang families (one African-America...,"[martial arts, hip-hop, oakland, asian, asian ...","[Jet Li, Aaliyah, Isaiah Washington]","[{""credit_id"": ""52fe4333c3a36847f804213d"", ""de..."
4446,127867,The Brass Teapot,"[Comedy, Fantasy, Thriller]",When a couple discovers that a brass teapot ma...,"[fantasy, based on comic book, money, magical ...","[Juno Temple, Michael Angarano, Alexis Bledel]","[{""credit_id"": ""52fe4b0bc3a368484e174b71"", ""de..."

In [37]:
all_df['crew'][235]

'[{"credit_id": "52fe4354c3a36847f804c0b1", "department": "Camera", "gender": 2, "id": 997, "job": "Director of Photography", "name": "Thierry Arbogast"}, {"credit_id": "52fe4354c3a36847f804c0b7", "department": "Production", "gender": 0, "id": 2424, "job": "Casting", "name": "Pierre-Jacques B\\u00e9nichou"}, {"credit_id": "52fe4354c3a36847f804c0e9", "department": "Production", "gender": 2, "id": 11204, "job": "Executive Producer", "name": "Pierre Grunstein"}, {"credit_id": "52fe4354c3a36847f804c0bd", "department": "Art", "gender": 0, "id": 13839, "job": "Set Designer", "name": "Aline Bonetto"}, {"credit_id": "52fe4354c3a36847f804c0f5", "department": "Editing", "gender": 2, "id": 19379, "job": "Editor", "name": "Yannick Kergoat"}, {"credit_id": "52fe4354c3a36847f804c087", "department": "Directing", "gender": 2, "id": 20674, "job": "Director", "name": "Thomas Langmann"}, {"credit_id": "52fe4354c3a36847f804c08d", "department": "Production", "gender": 2, "id": 20674, "job": "Producer", "name": "Thomas Langmann"}, {"credit_id": "52fe4354c3a36847f804c093", "department": "Writing", "gender": 2, "id": 20674, "job": "Screenplay", "name": "Thomas Langmann"}, {"credit_id": "52fe4354c3a36847f804c06f", "department": "Writing", "gender": 2, "id": 24530, "job": "Author", "name": "Ren\\u00e9 Goscinny"}, {"credit_id": "52fe4354c3a36847f804c075", "department": "Writing", "gender": 0, "id": 24531, "job": "Author", "name": "Albert Uderzo"}, {"credit_id": "52fe4354c3a36847f804c07b", "department": "Directing", "gender": 2, "id": 24886, "job": "Director", "name": "Fr\\u00e9d\\u00e9ric Forestier"}, {"credit_id": "52fe4354c3a36847f804c081", "department": "Production", "gender": 2, "id": 24886, "job": "Producer", "name": "Fr\\u00e9d\\u00e9ric Forestier"}, {"credit_id": "52fe4354c3a36847f804c099", "department": "Writing", "gender": 0, "id": 24887, "job": "Screenplay", "name": "Alexandre Charlot"}, {"credit_id": "52fe4354c3a36847f804c09f", "department": "Writing", "gender": 2, "id": 24888, "job": "Screenplay", "name": "Olivier Dazat"}, {"credit_id": "52fe4354c3a36847f804c0a5", "department": "Writing", "gender": 0, "id": 24889, "job": "Screenplay", "name": "Franck Magnier"}, {"credit_id": "52fe4354c3a36847f804c0ab", "department": "Sound", "gender": 0, "id": 24890, "job": "Original Music Composer", "name": "Fr\\u00e9d\\u00e9ric Talgorn"}, {"credit_id": "52fe4354c3a36847f804c0e3", "department": "Production", "gender": 0, "id": 47814, "job": "Executive Producer", "name": "Jean-Louis Monthieux"}, {"credit_id": "52fe4354c3a36847f804c0ef", "department": "Costume & Make-Up", "gender": 1, "id": 47815, "job": "Costume Design", "name": "Madeline Fontaine"}, {"credit_id": "52fe4354c3a36847f804c0fb", "department": "Sound", "gender": 0, "id": 47816, "job": "Sound Designer", "name": "Michel Kharat"}, {"credit_id": "52fe4354c3a36847f804c101", "department": "Sound", "gender": 0, "id": 47817, "job": "Sound Designer", "name": "Jean Goudier"}, {"credit_id": "52fe4354c3a36847f804c107", "department": "Sound", "gender": 2, "id": 47818, "job": "Sound Designer", "name": "Jean-Paul Hurier"}, {"credit_id": "52fe4354c3a36847f804c10d", "department": "Sound", "gender": 2, "id": 47819, "job": "Sound Designer", "name": "Marc Doisne"}, {"credit_id": "592e3284c3a36860b9003bb5", "department": "Visual Effects", "gender": 0, "id": 1371285, "job": "VFX Supervisor", "name": "Christian Rajaud"}]'

### As we have enormous number of crew members in every record, I am just going with Director

In [39]:
# Function for converting strings(in which it contains lists) into lists and for Selecting movie director's name.
def release_director_name(obj):
    l=[]
    for i in ast.literal_eval(obj):
        if i['job']=='Director':
            l.append(i['name'])
    return l

In [40]:
all_df['crew'].apply(release_director_name)

0                                [James Cameron]
1                               [Gore Verbinski]
2                                   [Sam Mendes]
3                            [Christopher Nolan]
4                               [Andrew Stanton]
                          ...
4804                          [Robert Rodriguez]
4805                              [Edward Burns]
4806                               [Scott Smith]
4807                               [Daniel Hsia]
4808    [Brian Herzlinger, Jon Gunn, Brett Winn]
Name: crew, Length: 4806, dtype: object

In [41]:
all_df['crew'][4808]

'[{"credit_id": "58ce021b9251415a390165d9", "department": "Production", "gender": 2, "id": 6888, "job": "Executive Producer", "name": "Clark Peterson"}, {"credit_id": "58ce0232c3a36850e90157da", "department": "Production", "gender": 2, "id": 61051, "job": "Executive Producer", "name": "Andrew Reimer"}, {"credit_id": "52fe44e8c3a368484e03da8d", "department": "Directing", "gender": 2, "id": 85563, "job": "Director", "name": "Brian Herzlinger"}, {"credit_id": "52fe44e8c3a368484e03da87", "department": "Directing", "gender": 2, "id": 94471, "job": "Director", "name": "Jon Gunn"}, {"credit_id": "52fe44e8c3a368484e03da97", "department": "Directing", "gender": 0, "id": 997560, "job": "Director", "name": "Brett Winn"}]'

In [42]:
all_df['Director_name']=all_df['crew'].apply(release_director_name)

In [43]:
all_df.head(2)

,id,title,genres,overview,keywords,cast,crew,Director_name
0,19995,Avatar,"[Action, Adventure, Fantasy, Science Fiction]","In the 22nd century, a paraplegic Marine is di...","[culture clash, future, space war, space colon...","[Sam Worthington, Zoe Saldana, Sigourney Weaver]","[{""credit_id"": ""52fe48009251416c750aca23"", ""de...",[James Cameron]
1,285,Pirates of the Caribbean: At World's End,"[Adventure, Fantasy, Action]","Captain Barbossa, long believed to be dead, ha...","[ocean, drug abuse, exotic island, east india ...","[Johnny Depp, Orlando Bloom, Keira Knightley]","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de...",[Gore Verbinski]

In [44]:
all_df.drop('crew',axis=1,inplace=True)

In [45]:
all_df.sample(5)

,id,title,genres,overview,keywords,cast,Director_name
3664,12486,Farce of the Penguins,"[Comedy, Documentary]","In this spoof of ""March of the Penguins,"" natu...","[penguin, balzen, antarctic]","[Samuel L. Jackson, Jim Belushi, Whoopi Goldberg]",[Bob Saget]
4308,429,"The Good, the Bad and the Ugly",[Western],While the Civil War rages between the Union an...,"[bounty hunter, refugee, gold, anti hero, gall...","[Eli Wallach, Clint Eastwood, Lee Van Cleef]",[Sergio Leone]
2673,2604,Born on the Fourth of July,"[Drama, War]",The biography of Ron Kovic. Paralyzed in the V...,"[vietnam veteran, post traumatic stress disor...","[Tom Cruise, Raymond J. Barry, Caroline Kava]",[Oliver Stone]
1419,94348,Alex Cross,"[Action, Thriller, Crime, Mystery]",After Washington DC detective Alex Cross is to...,[ex military],"[Tyler Perry, Rachel Nichols, Jean Reno]",[Rob Cohen]
3123,245846,Strangerland,"[Drama, Thriller]","Newly arrived to a remote desert town, Catheri...","[australia, missing child, outback, alcoholic ...","[Nicole Kidman, Joseph Fiennes, Hugo Weaving]",[Kim Farrant]

#### NOW,  WE HAVE TO REMOVE ALL THE SPACE BETWEEN EVERY WORD IN EVERY VARIABLE OF TAGS TO AVOID CONFUSION FOR THE MODEL i.e.
#### => we have to convert "Vishal Raj" a name to "VishalRaj"
##### AS TAGS WILL ALWAYS HAVE NO SPACE B/W THEM

In [47]:
all_df['genres']=all_df['genres'].apply(lambda i:[w.replace(" ","") for w in i])
all_df['keywords']=all_df['keywords'].apply(lambda i:[w.replace(" ","") for w in i])
all_df['cast']=all_df['cast'].apply(lambda i:[w.replace(" ","") for w in i])
all_df['Director_name']=all_df['Director_name'].apply(lambda i:[w.replace(" ","") for w in i])

In [48]:
all_df.sample(7)

,id,title,genres,overview,keywords,cast,Director_name
577,395,AVP: Alien vs. Predator,"[Adventure, ScienceFiction, Action]",When scientists discover something in the Arct...,"[savingtheworld, predator, laserpointer, space...","[SanaaLathan, RaoulBova, EwenBremner]",[PaulW.S.Anderson]
3395,1956,Gerry,"[Mystery, Drama, Adventure]",Two friends named Gerry become lost in the des...,"[desperation, highway, wilderness, gettinglost...","[CaseyAffleck, MattDamon]",[GusVanSant]
2182,61012,Silent Hill: Revelation 3D,"[Thriller, Horror, Mystery]",Heather Mason and her father have been on the ...,"[femaleprotagonist, anotherdimension, basedonv...","[AdelaideClemens, KitHarington, SeanBean]",[MichaelJ.Bassett]
3708,65749,Tango,"[Drama, Foreign, Romance]",A dangerous love affair inspires a director to...,"[dancer, tango, musical, love]","[MiguelÁngelSolá, CeciliaNarova, MíaMaestro]",[CarlosSaura]
3696,10822,Savage Grace,[Drama],This examination of a famous scandal from the ...,"[mother, sex, adultery, nudity, scandal, son, ...","[JulianneMoore, StephenDillane, EddieRedmayne]",[TomKalin]
2609,115,The Big Lebowski,"[Comedy, Crime]","Jeffrey ""The Dude"" Lebowski, a Los Angeles sla...","[whiterussian, dude, bowling, vietnamveteran, ...","[JeffBridges, JohnGoodman, JulianneMoore]",[JoelCoen]
114,674,Harry Potter and the Goblet of Fire,"[Adventure, Fantasy, Family]","Harry starts his fourth year at Hogwarts, comp...","[magic, dyinganddeath, broom, sorcerer'sappren...","[DanielRadcliffe, RupertGrint, EmmaWatson]",[MikeNewell]

In [49]:
all_df['overview']=all_df['overview'].apply(lambda v:v.split())
# Converting "Overview" variable into a list to combine with other columns as it isin string format
all_df.sample(7)

,id,title,genres,overview,keywords,cast,Director_name
3210,13483,Awake,"[Thriller, Crime, Mystery]","[While, undergoing, heart, surgery,, a, man, e...",[],"[HaydenChristensen, JessicaAlba, TerrenceHoward]",[JobyHarold]
312,22972,Green Zone,"[War, Action, Adventure, Drama, Thriller]","[During, the, U.S.-led, occupation, of, Baghda...","[weaponofmassdestruction, baghdad, iraqi ]","[MattDamon, GregKinnear, BrendanGleeson]",[PaulGreengrass]
682,12177,The Love Guru,"[Comedy, Romance]","[Born, in, America, and, raised, in, an, India...","[sport, icehockey, guru, comedy, bollywood, in...","[MikeMyers, JessicaAlba, JustinTimberlake]",[MarcoSchnabel]
2437,7304,Running Scared,"[Action, Crime, Drama, Thriller]","[After, a, drug-op, gone, bad,, Joey, Gazelle,...","[icehockey, racism, pedophile, throatslitting,...","[PaulWalker, CameronBright, VeraFarmiga]",[WayneKramer]
444,4147,Road to Perdition,"[Thriller, Crime, Drama]","[Mike, Sullivan, works, as, a, hit, man, for, ...","[basedongraphicnovel, homework, shotinthechin,...","[TomHanks, TylerHoechlin, JenniferJasonLeigh]",[SamMendes]
4765,250902,The Image Revolution,[Documentary],"[Twenty, years, ago,, seven, superstar, artist...","[comicbook, biography, comicbookartist, imagec...","[ToddMcFarlane, RobLiefeld, JimLee]",[PatrickMeaney]
1459,9311,Smilla's Sense of Snow,"[Action, Crime, Drama, Mystery, Thriller]","[Smilla, Jaspersen,, half, Danish,, half, Gree...","[copenhagen, inuit, comet, arctic, snow]","[JuliaOrmond, GabrielByrne, RichardHarris]",[BilleAugust]

#### COMBINING EVERY COLUMN EXCEPT 'ID' AND 'TITLE' AS ALL_TAGS TO GET ALL THE TAGS RELATED TO A MOVIE IN A SINGLE COLUMN

In [51]:
all_df['all_Tags']=all_df['genres']+all_df['overview']+all_df['keywords']+all_df['cast']+all_df['Director_name']
all_df.drop(['genres','overview','keywords','cast','Director_name'],axis=1, inplace=True)

In [52]:
all_df.sample(5)

,id,title,all_Tags
1586,21972,Like Mike,"[Comedy, Drama, Family, Fantasy, Calvin, and, ..."
1954,109091,The Counselor,"[Thriller, Crime, Drama, A, rich, and, success..."
2461,74643,The Artist,"[Drama, Comedy, Romance, Hollywood,, 1927:, As..."
2357,19840,"I Love You, Beth Cooper","[Comedy, Romance, Nerdy, teenager, Denis, Coov..."
1403,49022,Something Borrowed,"[Comedy, Drama, Romance, Though, Rachel, (Ginn..."

In [53]:
all_df['all_Tags'][0]

['Action',
 'Adventure',
 'Fantasy',
 'ScienceFiction',
 'In',
 'the',
 '22nd',
 'century,',
 'a',
 'paraplegic',
 'Marine',
 'is',
 'dispatched',
 'to',
 'the',
 'moon',
 'Pandora',
 'on',
 'a',
 'unique',
 'mission,',
 'but',
 'becomes',
 'torn',
 'between',
 'following',
 'orders',
 'and',
 'protecting',
 'an',
 'alien',
 'civilization.',
 'cultureclash',
 'future',
 'spacewar',
 'spacecolony',
 'society',
 'spacetravel',
 'futuristic',
 'romance',
 'space',
 'alien',
 'tribe',
 'alienplanet',
 'cgi',
 'marine',
 'soldier',
 'battle',
 'loveaffair',
 'antiwar',
 'powerrelations',
 'mindandsoul',
 '3d',
 'SamWorthington',
 'ZoeSaldana',
 'SigourneyWeaver',
 'JamesCameron']

#### CONVERTING LIST TO STRING

In [55]:
all_df['all_Tags']=all_df['all_Tags'].apply(lambda x:" ".join(x))

In [56]:
all_df.sample(5)

,id,title,all_Tags
3911,284,The Apartment,Comedy Drama Romance Bud Baxter is a minor cle...
4583,23827,Paranormal Activity,"Horror Mystery After a young, middle class cou..."
4155,174311,All Is Bright,Comedy Drama Two French Canadian ne’er-do-well...
849,3580,Changeling,Crime Drama Mystery Christine Collins is overj...
4749,85860,The FP,Comedy Two rival gangs fight for control of Fr...

In [57]:
all_df['all_Tags'][5]

"Fantasy Action Adventure The seemingly invincible Spider-Man goes up against an all-new crop of villain – including the shape-shifting Sandman. While Spider-Man’s superpowers are altered by an alien organism, his alter ego, Peter Parker, deals with nemesis Eddie Brock and also gets caught up in a love triangle. dualidentity amnesia sandstorm loveofone'slife forgiveness spider wretch deathofafriend egomania sand narcism hostility marvelcomic sequel superhero revenge TobeyMaguire KirstenDunst JamesFranco SamRaimi"

In [58]:
all_df['all_Tags']=all_df['all_Tags'].apply(lambda x:x.lower())

In [59]:
all_df

,id,title,all_Tags
0,19995,Avatar,action adventure fantasy sciencefiction in the...
1,285,Pirates of the Caribbean: At World's End,"adventure fantasy action captain barbossa, lon..."
2,206647,Spectre,action adventure crime a cryptic message from ...
3,49026,The Dark Knight Rises,action crime drama thriller following the deat...
4,49529,John Carter,action adventure sciencefiction john carter is...
...,...,...,...
4804,9367,El Mariachi,action crime thriller el mariachi just wants t...
4805,72766,Newlyweds,comedy romance a newlywed couple's honeymoon i...
4806,231617,"Signed, Sealed, Delivered","comedy drama romance tvmovie ""signed, sealed, ..."
4807,126186,Shanghai Calling,when ambitious new york attorney sam is sent t...
4808,25975,My Date with Drew,documentary ever since the second grade when h...

In [60]:
# Removing HTML tags in "all_Tags" variable
from bs4 import BeautifulSoup

In [61]:
text_html='<h1><p>I am Akshay Kumar</p>'
s=BeautifulSoup(text_html,'html.parser')
print(s.get_text())

I am Akshay Kumar

In [62]:
def remove_htmlTags(text):
    s=BeautifulSoup(text,'html.parser')
    return s.get_text()
all_df['all_Tags']=all_df['all_Tags'].apply(remove_htmlTags)
all_df.sample(6)

C:\Users\HOME\AppData\Local\Temp\ipykernel_17612\3508911121.py:2: MarkupResemblesLocatorWarning: The input looks more like a filename than markup. You may want to open this file and pass the filehandle into Beautiful Soup.
  s=BeautifulSoup(text,'html.parser')

,id,title,all_Tags
1845,175555,A Madea Christmas,comedy drama madea dispenses her unique form o...
1266,9544,FearDotCom,horror thriller with four corpses on his hands...
931,13836,Race to Witch Mountain,adventure family fantasy sciencefiction thrill...
4724,18632,A Dog's Breakfast,comedy if you've never been good at anything i...
1230,188161,A Million Ways to Die in the West,comedy western as a cowardly farmer begins to ...
179,270946,Penguins of Madagascar,"family animation adventure comedy skipper, kow..."

In [63]:
# Removing punctuations and numbers
import string
puncs_nums=string.punctuation+"0123456789’–"
puncs_nums

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~0123456789’–'

In [64]:
test=all_df.all_Tags.iloc[223]
test

"action sciencefiction after years of outrunning ruthless bounty hunters, escaped convict riddick suddenly finds himself caught between opposing forces in a fight for the future of the human race. now, waging incredible battles on fantastic and deadly worlds, this lone, reluctant hero will emerge as humanity's champion - and the last hope for a universe on the edge of annihilation. prison dystopia matteroflifeanddeath outerspace intergalactictravel vindiesel thandienewton karlurban davidtwohy"

In [65]:
def remove_puncs_nums(text):
    for i in puncs_nums:
        text=text.replace(i,"")
    return text

In [66]:
remove_puncs_nums(test)

'action sciencefiction after years of outrunning ruthless bounty hunters escaped convict riddick suddenly finds himself caught between opposing forces in a fight for the future of the human race now waging incredible battles on fantastic and deadly worlds this lone reluctant hero will emerge as humanitys champion  and the last hope for a universe on the edge of annihilation prison dystopia matteroflifeanddeath outerspace intergalactictravel vindiesel thandienewton karlurban davidtwohy'

In [67]:
all_df['all_Tags'].iloc[5]

"fantasy action adventure the seemingly invincible spider-man goes up against an all-new crop of villain – including the shape-shifting sandman. while spider-man’s superpowers are altered by an alien organism, his alter ego, peter parker, deals with nemesis eddie brock and also gets caught up in a love triangle. dualidentity amnesia sandstorm loveofone'slife forgiveness spider wretch deathofafriend egomania sand narcism hostility marvelcomic sequel superhero revenge tobeymaguire kirstendunst jamesfranco samraimi"

In [68]:
all_df['all_Tags']=all_df['all_Tags'].apply(remove_puncs_nums)
all_df.sample(4)

,id,title,all_Tags
3395,1956,Gerry,mystery drama adventure two friends named gerr...
3924,15582,Teen Wolf Too,comedy fantasy family although awkward college...
2081,31005,Moonlight Mile,romance drama as he copes with the death of hi...
1632,72207,The Five-Year Engagement,comedy exactly one year after tom meets violet...

In [69]:
all_df['all_Tags'].iloc[5]

'fantasy action adventure the seemingly invincible spiderman goes up against an allnew crop of villain  including the shapeshifting sandman while spidermans superpowers are altered by an alien organism his alter ego peter parker deals with nemesis eddie brock and also gets caught up in a love triangle dualidentity amnesia sandstorm loveofoneslife forgiveness spider wretch deathofafriend egomania sand narcism hostility marvelcomic sequel superhero revenge tobeymaguire kirstendunst jamesfranco samraimi'

In [70]:
import nltk
from nltk.stem import WordNetLemmatizer
nltk.download('wordnet')
wnl=WordNetLemmatizer()

[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\HOME\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

In [71]:
test=all_df.all_Tags.iloc[39]
test

'adventure action sciencefiction sam flynn the techsavvy and daring son of kevin flynn investigates his fathers disappearance and is pulled into the grid with the help of a mysterious program named quorra sam quests to stop evil dictator clu from crossing into the real world artificialintelligence secretidentity computerprogram dystopia computer deception duel motorcycle neonlight autocracy garretthedlund jeffbridges oliviawilde josephkosinski'

In [72]:
lemmatized_test = [wnl.lemmatize(word, pos="v") for word in test.split()]

lemmatized_test_str = " ".join(lemmatized_test)

lemmatized_test_str

'adventure action sciencefiction sam flynn the techsavvy and dare son of kevin flynn investigate his father disappearance and be pull into the grid with the help of a mysterious program name quorra sam quest to stop evil dictator clu from cross into the real world artificialintelligence secretidentity computerprogram dystopia computer deception duel motorcycle neonlight autocracy garretthedlund jeffbridges oliviawilde josephkosinski'

In [73]:
def lemmatizer(text):
    lemmatized_test=[wnl.lemmatize(word, pos="v") for word in text.split()]
    lemmatized_test_str=" ".join(lemmatized_test)
    return lemmatized_test_str

In [74]:
all_df['all_Tags']=all_df['all_Tags'].apply(lemmatizer)
all_df.sample(4)

,id,title,all_Tags
2060,44113,Stone,drama parole officer jack mabry have only a fe...
2237,3509,A Scanner Darkly,animation sciencefiction thriller an undercove...
2562,17127,The Object of My Affection,comedy drama romance a pregnant new york socia...
1590,6023,P.S. I Love You,drama romance a young widow discover that her ...

In [75]:
all_df.shape

(4806, 3)

In [76]:
# Vector Representation

In [77]:
from sklearn.feature_extraction.text import CountVectorizer
cv=CountVectorizer(max_features=5000,stop_words='english')

In [78]:
all_vectors=cv.fit_transform(all_df['all_Tags']).toarray()
all_vectors

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [79]:
len(cv.get_feature_names_out())

5000

In [197]:
# These are all the features used
features=[]
for i in cv.get_feature_names_out():
    features.append(i)

print("These are all the features used\n\n\n")
print(", ".join(features))

These are all the features used




In [81]:
# Generating similarity scores using cosine_similarity for getting nearest vectors (i.e. recommended movies) 
# for given input (i.e. movie)

In [82]:
from sklearn.metrics.pairwise import cosine_similarity

In [83]:
cosine_similarity(all_vectors).shape

(4806, 4806)

In [84]:
all_similarities=cosine_similarity(all_vectors)

In [85]:
all_similarities[1]

array([0.08858079, 1.        , 0.06253054, ..., 0.02514977, 0.        ,
       0.        ])

In [86]:
# RETURNS FIRST FIVE NEAREST VECTORS INDICES WHEN GIVEN A INPUT VECTOR INDEX, hERE, INPUT VECTOR INDEX IS:1
sorted(list(enumerate(all_similarities[1])),reverse=True,key=lambda c:c[1])[1:6]

[(12, 0.4412487516463849),
 (199, 0.2988812888320308),
 (17, 0.27371875400769585),
 (216, 0.21552636243212991),
 (2131, 0.20526320231631418)]

In [87]:
def recommend(movie):
    movie_index=all_df[all_df['title']==movie].index[0]
    distances=all_similarities[movie_index]
    movies_list=sorted(list(enumerate(distances)),reverse=True,key=lambda c:c[1])[1:6]
    print('\nRecommended movies based on the input movie you entered:\n')
    for i in movies_list:
        print(all_df.iloc[i[0]].title)

In [88]:
all_movies_titles_available=all_df['title'].values
# for available_movie in sorted(all_movies_titles_available):
    # print(available_movie) # See movies in "all_movies_list.html"

In [89]:
try:
    movie_name=input('Please enter the movie you like from the above listed movies, so that we can recommend movies that are similar to the given movie:\n')
    recommend(movie_name)
except:
    print(f"\n{movie_name} movie is not available in this project.\nPlease provide another movie name for recommendations.")

Please enter the movie you like from the above listed movies, so that we can recommend movies that are similar to the given movie:
 Spider-Man

Recommended movies based on the input movie you entered:

Spider-Man 3
Spider-Man 2
The Amazing Spider-Man
Arachnophobia
Kick-Ass

In [90]:
len(all_movies_titles_available)

4806

In [91]:
dff=pd.DataFrame(all_movies_titles_available)
# dff.to_html('all_movies_list',index=False)

In [92]:
# import pickle

In [93]:
# pickle.dump(all_df,open('df.pkl','wb'))